.item {
    display: flex;
    justify-content: center;
}

.itemPhoto {
    padding: 10px;
}

.itemPhoto img{
    width: 100%;
    height: 400px;
}

.itemInfo{
    list-style-type: none;
    padding: 10px;
}