.itemPhoto {
    justify-content: center;
    display: flex;
    padding: 10px;
}

.itemPhoto img{
    min-width: 50%;
    height: 400px;
}

.itemInfo{
    list-style-type: none;
    padding: 10px;
}

.relatedImg {
    justify-content: center;
}